@model MVC_AppUserProject.Models.Entities.Concrete.UserRole
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>UserRole Detail</h2>


<h4>Id: @Model.Id</h4>
<h4>Role Name: @Model.RoleName</h4>
<h4>Description:@Model.Description</h4>
<h4>Salery: @Model.Salery</h4>
<h4>Status: @Model.status</h4>
<h4>Update Date : @Model.UpdateDate</h4>
<h4>Create Date: @Model.CreateDate</h4>
